/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: spectral;
    src: url(../fonts/Spectral-Regular.ttf);
}

body {
    font-family: spectral;
    color: #ffffff;
}

section, footer {
    padding: 60px;
}

header {
    text-align: center;
}

header > h2 {
    padding-bottom: 20px;
    border-bottom: 2px dotted #dc2c3c;
    margin-bottom: 30px;
    display: inline-block;
    color: #ffffff;
}

.fondo-oscuro {
    min-height: 100vh;
    background-color: #191919;
}

.fondo-fijo {
    width: 100%;
    background-image: url(../img/reja1.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
}

a {
    color: #dc2c3c;
    text-decoration: none;
}

.separacion-ul {
    margin-left: 40px;
    padding: 16px 0;
}

.articulo {
    padding: 0 40px;
    text-align: justify;
}

.centrado-vertical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

 section p, section li{
    text-align: justify;
}

/* fin general */


/* menu */

.menu {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

nav > .contenedor-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

nav > .contenedor-menu > li {
    list-style-type: none;
    background-color: #000000;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 50px;
    line-height: 46px;
    color: #dc2c3c;
}

nav > .contenedor-menu > li > a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

nav > .contenedor-menu > li.active a {
    border: 2px solid #dc2c3c;
    color: #dc2c3c;
}

nav > .contenedor-menu > li:hover {
    border: 2px solid #dc2c3c;
}

nav > .contenedor-menu > li > a:hover {
    color: #dc2c3c;
}

/* fin menu */


/* header portada*/

header > .foto-portada {
    background-image: url(../img/keepcoding2017.jpg);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

header > .foto-portada > .titulo-inicial {
    padding: 15px;
    border: 3px solid #dc2c3c;
    border-radius: 15px;
    background-color: white;
    color: #dc2c3c;
    -webkit-animation: borde-redondeado 5s linear infinite;
            animation: borde-redondeado 5s linear infinite;

    position: relative;
    top: inherit;
}

/* fin header*/


/* quien soy */

.quiensoy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

figure {
    text-align: center;
}

figure > img {
    border-radius: 500em;
    width: 250px;
    height: auto;
    border: 3px solid #dc2c3c;
}

.quiensoy > article {
    padding: 0 2em;
    text-align: justify;
}

/* fin quien soy */


/* estudios */

.estudios {
    background-color: #616161;
    color: #212121;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.curso {
    border: 2px solid #dc2c3c;
    padding: 25px 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    margin-bottom: 10px;
}

.curso:nth-child(odd) {
    background-color: #191919;
    color: #ffffff;
}

.curso:nth-child(even) {
    background-color: white;
}

.curso img {
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

/* fin estudios */


/* experiencia */

.experiencia {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.experiencia > .container-experiencia {
    min-width: 90%;
}

/* fin experiencia */


/* sobre mi */

.sobre-mi{
    color: #ffffff;
    background-color: #616161;
}

.sobre-mi > .container-sobre-mi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 40px;
}

.sobre-mi > .container-sobre-mi > .texto {
    padding-right: 30px;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    min-width: 400px;
} 

video {
    border: 2px solid #dc2c3c;
}

/* fin sobre mi */


/* contacto */

.formulario {
    
    width: 400px;
    margin: auto;
}

.formulario > .container-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.formulario > .container-inputs > .izquierda-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.formulario > .container-inputs > .izquierda-inputs > input, .inserta-nota {
    border: 2px solid #dc2c3c;
    width: 180px;
    height: 30px;
    padding: 4px;

}

.formulario > .container-inputs > .derecha-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.inputotro {
    border: 2px solid #dc2c3c;
    width: 160px;
    height: 25px;
    padding: 4px;
}

.container-textarea > .comentario {
    width: 400px;
    height: 100px;
    border: 2px solid #dc2c3c;
    padding: 8px;
}

.contadorPalabras {
    color: #dc2c3c;
}

.botones-form {
    text-align: center;
}

.botones-form > input, .boton {
    width: 70px;
    height: 30px;
    background-color: white;
    border: 2px solid #dc2c3c;
}

.botones-form > input:hover, .boton:hover {
    background-color: #dc2c3c;;
}
/* fin contacto */


/* footer */

footer {
    text-align: center;
    font-size: 12px;
    padding: 20px 0;
    background-color: #616161;
}

footer a {
    color: #ffffff;
    -webkit-transition: color 0.3s linear;
    transition: color 0.3s linear;
}

footer a:hover {
    color: #dc2c3c;
}

/* fin footer*/


/* animaciones */

@-webkit-keyframes borde-redondeado {
    0%   {
        border-radius: 50px 0px 50px 0px;
    }

    25% {
        font-size: 2.07em;
    }

    50%  {
        border-radius: 0px 50px 0px 50px;
    }

    100% {
        border-radius: 50px 0px 50px 0px;

    }
}

@keyframes borde-redondeado {
    0%   {
        border-radius: 50px 0px 50px 0px;
    }

    25% {
        font-size: 2.07em;
    }

    50%  {
        border-radius: 0px 50px 0px 50px;
    }

    100% {
        border-radius: 50px 0px 50px 0px;

    }
}

/* fin animaciones */

/* tareas */

.tareas {
    width: 100%;
    min-height: 91vh;
}

.container-tareas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.inserciones {
    padding-top: 50px;
}

.notas {
    padding: 0 20px 0 80px;
    min-width: 500px;
    min-height: 500px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    background-image: url("../img/hoja-de-cuaderno.png");
    background-size: 500px 665px;
    background-repeat: no-repeat;
    background-position: center;
    color: #000000;
}

.separacion-tareas {
    margin-left: 20px;
    padding: 17px 0 0 0;
    list-style-type: circle;
}

/* validaciones */

.formulario > .container-inputs > .izquierda-inputs > .input-ok {
    border: 2px solid green;
    background-color: #ffffff;
}

.formulario > .container-inputs > .izquierda-inputs > .input-error {
    border: 4px solid red;
}