/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*--principal-oscuro: #191919;
    --principal: #191919;
    --principal-claro: #616161;
    --texto-blanco: #ffffff;
    --texto-negro: #212121;
    --subtexto: #757575;
    --divisores: #bdbdbd;
    --accento: #dc2c3c;*/
}

body {
    font-family: 'Spectral', serif;
    color: #ffffff;
}

section, footer {
    padding: 60px;
}

header {
    text-align: center;
}

header > h2 {
    padding-bottom: 20px;
    border-bottom: 2px dotted #dc2c3c;
    margin-bottom: 30px;
    display: inline-block;
    color: #ffffff;
}

.fondo-oscuro {
    min-height: 100vh;
    background-color: #191919;
}

.fondo-fijo {
    width: 100%;
    background-image: url(../img/reja1.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
}

a {
    color: #dc2c3c;
    text-decoration: none;
}

.separacion-ul {
    margin-left: 40px;
    padding: 16px 0;
}

.articulo {
    padding: 0 40px;
    text-align: justify;
}

.centrado-vertical {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

 section p, section li{
    text-align: justify;
}

/* fin general */

/* menu */

.menu {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

nav > .contenedor-menu {
    display: flex;
    justify-content: space-around;
}

nav > .contenedor-menu > li {
    list-style-type: none;
    background-color: #191919;
    text-align: center;
    flex-grow: 1;
    height: 50px;
    line-height: 46px;
    color: #dc2c3c;
}

nav > .contenedor-menu > li > a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    transition: all 0.3s linear;
}

nav > .contenedor-menu > li.active a {
    border: 2px solid #dc2c3c;
    color: #dc2c3c;
}

nav > .contenedor-menu > li:hover {
    border: 2px solid #dc2c3c;
}

nav > .contenedor-menu > li > a:hover {
    color: #dc2c3c;
}

/* fin menu */

/* header */

header > .foto-portada {
    background-image: url(../img/keepcoding2017.jpg);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > .foto-portada > h1 {
    padding: 15px;
    border: 3px solid #dc2c3c;
    border-radius: 15px;
    background-color: white;
    color: #dc2c3c;
    animation: borde-redondeado 5s linear infinite;
}

/* fin header*/

/* quien soy */

.quiensoy {
    display: flex;
    align-items: center;
}

figure {
    text-align: center;
}

figure > img {
    border-radius: 500em;
    width: 250px;
    height: auto;
    border: 3px solid #dc2c3c;
}

.quiensoy > article {
    padding: 0 2em;
    text-align: justify;
}

/* fin quien soy */

/* estudios */

.estudios {
    background-color: #616161;
    color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.curso {
    border: 2px solid #dc2c3c;
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 10px;
}

.curso:nth-child(odd) {
    background-color: #191919;
    color: #ffffff;
}

.curso:nth-child(even) {
    background-color: white;
}

.curso img {
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

/* fin estudios */

/* experiencia */

.experiencia {
    flex-wrap: wrap;
}

.experiencia > .container-experiencia {
    min-width: 90%;
}

/* fin experiencia */

/* sobre mi */

.sobre-mi{
    color: #ffffff;
    background-color: #616161;
}

.sobre-mi > .container-sobre-mi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 40px;
}

.sobre-mi > .container-sobre-mi > .texto {
    padding-right: 30px;
    flex: 2;
    min-width: 400px;
} 

.sobre-mi > .container-sobre-mi > .video-mio {
    flex: 0;
    border: 2px solid #dc2c3c;
}

/* fin sobre mi */

/* contacto */

.formulario {
    
    width: 400px;
    margin: auto;
}

.formulario > .container-inputs {
    display: flex;
    justify-content: space-between;
}

.formulario > .container-inputs > .izquierda-inputs {
    display: flex;
    flex-direction: column;
}

.formulario > .container-inputs > .izquierda-inputs > input {
    border: 2px solid #dc2c3c;
    width: 180px;
    height: 25px;
    padding: 4px;

}

.formulario > .container-inputs > .derecha-inputs {
    display: flex;
    flex-direction: column;
}

.inputotro {
    border: 2px solid #dc2c3c;
    width: 160px;
    height: 25px;
    padding: 4px;
}

.container-textarea > .comentario {
    width: 400px;
    height: 100px;
    border: 2px solid #dc2c3c;
    padding: 8px;
}

.contadorPalabras {
    color: #dc2c3c;
}

.botones-form {
    text-align: center;
}

.botones-form > input {
    width: 70px;
    height: 30px;
    background-color: white;
    border: 2px solid #dc2c3c;
}

.botones-form > input:hover {
    background-color: #dc2c3c;;
}
/* fin contacto */

/* footer */

footer {
    text-align: center;
    font-size: 12px;
    padding: 20px 0;
    background-color: #616161;
}

footer a {
    color: #ffffff;
    transition: color 0.3s linear;
}

footer a:hover {
    color: #dc2c3c;
}

/* fin footer*/

/* animaciones */

@keyframes borde-redondeado {
    0%   {
        border-radius: 50px 0px 50px 0px;
    }

    25% {
        font-size: 2.07em;
    }

    50%  {
        border-radius: 0px 50px 0px 50px;
    }

    100% {
        border-radius: 50px 0px 50px 0px;

    }
}

/* fin animaciones */

